[package]
name = "tail2"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
aya = { git = "https://github.com/aya-rs/aya", branch = "main", version = "0.11", features=["async_tokio"] }
aya-log = { git = "https://github.com/aya-rs/aya", branch = "main" }
tail2-common = { path = "../tail2-common", features=["user"] }
anyhow = "1.0.42"
clap = { version = "3.1", features = ["derive"] }
env_logger = "0.9"
libc = "0.2.102"
log = "0.4"
tokio = { version = "1.18", features = ["macros", "rt", "rt-multi-thread", "net", "signal", "sync", "time"] }
thiserror = "1.0.37"
object = "0.29.0"
ctrlc = "3.2.3"
bytes = "1.2.1"
framehop = "0.7.1"
debugid = "0.8.0"
memmap2 = "0.5.3"
uuid = "1.2.1"
fxhash = "0.2.1"
procfs = "0.14.1"

[[bin]]
name = "tail2"
path = "src/main.rs"
