[package]
name = "tail2-common"
version = "0.1.0"
edition = "2021"

[features]
default = ["gimli"]
user = ["aya", "anyhow", "memmap2", "object", "thiserror", "gimli", "lru"]
x86_64 = []
aarch64 = []

[dependencies]
aya = { git = "https://github.com/0b01/aya", branch = "refs", version = "0.11", optional = true}
# aya = { path = "../../aya/aya", version = "0.11", optional = true}
gimli = { version = "0.26.1", default-features = false, features = ["read-core"], optional = true }
anyhow = { version = "1.0.42", optional = true }
memmap2 = { version = "0.5.3", optional = true }
object = { version = "0.29.0", optional = true }
thiserror = { version = "1.0.37", optional = true }
lru = { version = "0.8.1", optional = true }

[lib]
path = "src/lib.rs"
