[package]
name = "tail2-common"
version = "0.1.0"
edition = "2021"

[features]
default = []
user = [ "aya", "anyhow", "memmap2", "object" ]

[dependencies]
aya = { git = "https://github.com/aya-rs/aya", branch = "main", version = "0.11", optional = true}
gimli = { version = "0.26.1", features = ["read-core"], default-features = false }
anyhow = { version = "1.0.42", optional = true }
memmap2 = { version = "0.5.3", optional = true }
object = { version = "0.29.0", optional = true }

[lib]
path = "src/lib.rs"
