[package]
name = "tail2-common"
version = "0.1.0"
edition = "2021"

[features]
default = []
user = [ "aya" ]

[dependencies]
aya = { git = "https://github.com/aya-rs/aya", branch = "main", version = "0.11", optional = true}
gimli = { version = "0.26.1", features = ["read-core"], default-features = false }

[lib]
path = "src/lib.rs"
