[package]
name = "tail2-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.57"
rocket = { version = "0.5.0-rc.2", features = ["json"] }
rocket_dyn_templates = { version = "0.1.0-rc.2", features = ["handlebars"] }
reqwest = { version = "0.11.10", features = ["json"] }
log = "0.4"
fern = "0.6"
sentry = "0.27.0"
chrono = "0.4.19"

serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
serde_qs = "0.9.2"
