name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: info
      run: uname -a
    - name: +nightly
      run: rustup install nightly && rustup default nightly
    - name: add src
      run: rustup component add rust-src --toolchain nightly-x86_64-unknown-linux-gnu
    - name: install bpf-linker
      run: cargo install bpf-linker
    - name: Build
      run: cargo xtask run --build
    - name: Run tests
      run: cargo test --verbose --all
